<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 自动扫描 -->
	<context:component-scan base-package="controller" />
	<context:component-scan base-package="dao" />
	<context:component-scan base-package="biz" />
	<!-- mVC注解 -->
	<mvc:annotation-driven />

	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3307/db1" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="username" value="root" />
		<property name="password" value="a123456" />
	</bean>
	<!-- 类似于ps对象的一个内容 -->
	<bean id="jdbcTemplate" 
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 视图解析器 -->
	<bean id="irvr"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="suffix" value=".jsp" />
		<property name="prefix" value="/user/" />
	</bean>
	
	<!-- 注册拦截器 -->
	<mvc:interceptors>
		<bean id="encode" class="interceptor.EncodInterceptor" />
	</mvc:interceptors>
</beans>